
@{
    ViewBag.Title = "Showinfo";
}

<h2>Show Information</h2>
@using (Html.BeginForm("Showinfo", "Person", FormMethod.Get))
{
   
    foreach (var person in ViewBag.data)
    {
       
        <div style="border-bottom-width: 400px">
            <li>
                Name: @person.Name
            </li>
            <li>
                Email:  @person.Email
            </li>
            <li>
                Moblie: @person.Mobile
            </li>
            <li>
                Address:  @person.Address
            </li>
        </div>
        <br/>
      

    }

}

<br/>
<button class="btn btn-info" type="button"
        onclick="location.href = '@Url.Action("Input", "Person")'">Insert</button>